@font-face {
  font-family: 'PokemonHollow';
  src: url('./fonts/PokemonHollow.ttf') format('truetype');
}

.content {
  padding: 2rem;
  background-color: rgb(66, 77, 228);
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  font-family: 'PokemonHollow', sans-serif;
}

.headerLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding: 0 30px;
  margin: 30px 0;
}

img {
  background-image: url("background.png");
  width: 100%;
  height: auto;
}

.card {
  text-align: center;
  padding: 1rem;
  background-color: white;
  color: black;
  border-radius: 0.2cm;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform .3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}